body {
            background: #B367CD;
        }
        .page-content { overflow: auto; }
        .header, .footer { overflow: hidden; position: fixed; }


        .button {
            padding: 5px;
            color: black;
            font-size: 14px;
            font-style: italic;
            font-family: Sans-serif;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            cursor: pointer;
            background: white;
        }

        h1 {
            color: white;
            font-size: 44px;
            font-weight: bold;
            font-style: italic;
            font-family: Sans-serif;
            filter: drop-shadow(5px 5px 2px #4B4A49);
        }

        h2 {
            font-size: 28px;
            color: white;
            font-weight: bold;
            font-family: Sans-serif;
            filter: drop-shadow(5px 5px 2px #4B4A49);
        }

        h3 {
            font-size: 20px;
            color: white;
            font-weight: bold;
            font-family: Sans-serif;
            filter: drop-shadow(5px 5px 2px #4B4A49);
        }

        h4 {
            font-size: 14px;
            color: black;
            font-family: Sans-serif;
                }

        .footer-text {
            font-size: 10px;
            color: black;
            font-weight: bold;
            font-style: italic;
            font-family: Sans-serif;
        }

        .inputX {
            border-style: solid;
            width: 150px;
            height: 30px;
        }

        .td{
            background: white;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            font-family: Sans-serif;
            font-size: 16px;
        }

        select {
            background: white;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            font-family: Sans-serif;
            font-size: 16px;
            width: 200px;
            text-align: left;
        }

        .mylabel {
            font-size: 16px;
            color: black;
            font-weight: bold;
            font-family: Sans-serif;
        }

        .links {
            padding: 5px;
            color: blue;
            font-style: italic;
            font-family: Sans-serif;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            cursor: pointer;
            background: #E5E7E5;
        }
